
  <input type="text" [title]= "'Enter something here'" (input)= "setName($event)"  >

  <button type = "submit" (click)="buttonClick()" class="button">
    Click here!!
  </button>

  <br>
  <br>
  {{buttonValue}}
  <br>
  <br>

  <div *ngFor = "let house of houses" class="houseDiv" >
  City: {{house.city}}
    <br>
    Street: {{house.street}}
    <br>
    Price: {{house.price}}
    <br>
    <br>
    <br>
  </div>

  <button (click)="showRegisterForm()" type = "submit" value="Register" class="buttonRegister">
    Register
  </button>

  <button (click)="showLoginForm()" type = "submit" class="button">
    Login
  </button>

  <br>
  <br>
  <form *ngIf = "isRegisterClicked" >
    <input type= "text" name="name" value = 'name'>
    <input type= "email" name="email" value = 'email'>
    <input type= "password" name="password" value = 'password'>
  </form>
  <br>
  <form *ngIf = "isLoginClicked" >
    <input type= "email" name="email" value="email">
    <input type= "password" name= "password" value="password">
  </form>
